# Fichiers et dossiers de build
/build
.gradle

# Fichiers de configuration locaux
/local.properties
/apikey.properties

# Fichiers Android Studio
.idea/
*.iml
*.hprof
/captures
.DS_Store

# Fichiers Keystore
*.jks
*.keystore

# Google Services (informations sensibles)
/app/google-services.json

# Fichiers de build C/C++
.cxx/
.externalNativeBuild/
